@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(3 7 18);
  color: white;
}

a {
  text-underline-offset: 2px;
}
